<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">inc</directory>
		</include>
	</coverage>
</phpunit>
